<% @users.each do |user| %>
  <div class="card">
    <h5 class="card-header"><%= link_to user.name, user_path(user) %></h5>
    <div class="card-body">
      <p class="card-text">職業（ポジション）：<%= user.position.name if user.position_id %></p>
      <p class="card-text">転職回数：<%= user.job_change_count if user.job_change_count %>回</p>
      <p class="card-text">最も役に立った資格：<%= user.certificate.name if user.certificate_id %></p>
      <p class="card-text">3年間の年収推移：<%= user.salary_before_two_years if user.salary_before_two_years %> → <%= user.salary_before_one_years if user.salary_before_one_years %> → <%= user.current_salary if user.current_salary %></p>
      <p class="card-text">自己紹介：<%= user.profile if user.profile %></p>
    </div>
  </div>
<% end %>
