<div class="card">
  <div class="card-body text-left">
    <h5 class="card-title text-left" id="profile-name"><%= @user.name %></h5>
    <% if current_user?(@user) %>
      <%= link_to "編集", edit_user_path(current_user), class: "btn", id: "user-edit-btn" %>
    <% else %>
      <% if current_user != nil && current_user.following?(@user) %>
        <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "btn", id: "follow-btn" %>
      <% elsif current_user != nil %>
        <%= link_to "フォロー", user_relationships_path(@user.id), method: :post, class: "btn", id: "follow-btn" %>
      <% end %>
    <% end %>
    <p class="card-text">
      <%= link_to @user.followings.count.to_s + " フォロー", user_followings_path(@user), class: "card-link" %>
      <%= link_to @user.followers.count.to_s + " フォロワー", user_followers_path(@user), class: "card-link" %>
    </p>
    <p class="card-text">職業（ポジション）：<%= @user.position.name if @user.position_id %></p>
    <p class="card-text">転職回数：<%= @user.job_change_count %>回</p>
    <p class="card-text">最も役に立った資格：<% if @user.certificate_id %><%= link_to @user.certificate.name, search_path(id: @user.certificate.id, word: @user.certificate.name) %><% end %></p>
    <p class="card-text">3年間の年収推移：<%= @user.salary_before_two_years %> → <%= @user.salary_before_one_years %> → <%= @user.current_salary %></p>
    <p class="card-text user-profile"><%= @user.profile %></p>
  </div>
</div>