<% provide(:title, "プロフィール編集") %>
<% provide(:button_text, "保存") %>

<div class="mb-3 w-75 mx-auto">
  <h2 class="text-center">プロフィール編集</h2>
  <div class="col-md-6 col-md-offset-3 mx-auto" id="profile-edit-form">
    <%= form_with(model: @user, local: false) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :position_id, "職種（ポジション）" %>
      <%= f.collection_select :position_id, Position.all, :id, :name, {include_blank: "選択してください"}, class: 'form-control' %>
      <%= f.label :job_change_count, "転職回数" %>
      <%= f.number_field :job_change_count, autocomplete: "off", min: 0, class: 'form-control' %>
      <%= f.label :salary_before_two_years, "2年前の年収" %>
      <%= f.select :salary_before_two_years, ['301~350万円', '351~400万円', '401~450万円', '451~500万円', '501~550万円', '551~600万円', '601~650万円', '651~700万円', '701~750万円', '751~800万円', '801~850万円', '851~900万円', '901~950万円', '951~1000万円', '1001~1050万円', '1051~1100万円', '1101~1150万円', '1151~1200万円', '1201~1250万円', '1251~1300万円', '1301~1350万円', '1351~1400万円', '1401~1450万円', '1451~1500万円', 'それ以上'], {include_blank: '選択してください'}, class: 'form-control' %>
      <%= f.label :salary_before_one_years, "1年前の年収" %>
      <%= f.select :salary_before_one_years, ['301~350万円', '351~400万円', '401~450万円', '451~500万円', '501~550万円', '551~600万円', '601~650万円', '651~700万円', '701~750万円', '751~800万円', '801~850万円', '851~900万円', '901~950万円', '951~1000万円', '1001~1050万円', '1051~1100万円', '1101~1150万円', '1151~1200万円', '1201~1250万円', '1251~1300万円', '1301~1350万円', '1351~1400万円', '1401~1450万円', '1451~1500万円', 'それ以上'], {include_blank: '選択してください'}, class: 'form-control' %>
      <%= f.label :current_salary, "現在の年収" %>
      <%= f.select :current_salary, ['301~350万円', '351~400万円', '401~450万円', '451~500万円', '501~550万円', '551~600万円', '601~650万円', '651~700万円', '701~750万円', '751~800万円', '801~850万円', '851~900万円', '901~950万円', '951~1000万円', '1001~1050万円', '1051~1100万円', '1101~1150万円', '1151~1200万円', '1201~1250万円', '1251~1300万円', '1301~1350万円', '1351~1400万円', '1401~1450万円', '1451~1500万円', 'それ以上'], {include_blank: '選択してください'}, class: 'form-control' %>
      <%= f.label :certificate_id, "最も役立った資格" %>
      <%= f.collection_select :certificate_id, Certificate.all, :id, :name, {include_blank: "選択してください"}, class: 'form-control' %>
      <%= f.label :profile, "自己紹介" %>
      <%= f.text_area :profile, class: 'form-control' %>
      <div class="d-grid col-12">
        <%= f.submit yield(:button_text), class: "btn" %>
      </div>
    <% end %>
  </div>
</div>