<% provide(:title, @post.title) %>

<div class="row">
  <%= render 'posts/post_user_info' %>
  <div class="col-md-6 col-md-offset-3 mx-auto">
    <div class="card">
      <h1>
        <%= @post.title %>
      </h1>
      <div class="card-body">
        <h2 class="post-subtitle">資格</h2>
        <p class="post-text"><%= @post.certificate.name %></p>
        <h2 class="post-subtitle">学習期間</h2>
        <p class="post-text"><%= @post.study_period %></p>
        <h2 class="post-subtitle">勉強方法</h2>
        <p class="post-text"><%= @post.how_to_study %></p>
        <h2 class="post-subtitle">資格取得が実務に役立ったか？</h2>
        <p class="post-text"><%= @post.valuable_score %></p>
        <h2 class="post-subtitle">取得前後でどのような変化があったか？</h2>
        <p class="post-text"><%= @post.how_change %></p>
        <h2 class="post-subtitle">おすすめ度</h2>
        <p class="post-text"><%= @post.recommend_score %></p>
        <h2 class="post-subtitle">どんな人におすすめか？</h2>
        <p class="post-text"><%= @post.recommended_person %></p>
        <h2 class="post-subtitle">コメント</h2>
        <p class="post-text"><%= @post.comment %></p>
      </div>
      <div class="bookmark-or-like">
      <% if !current_user?(@post.user) && logged_in? %>
        <% if @post.bookmarked_by?(current_user) %>
          <%= link_to post_bookmark_path(@post), method: :delete do %>
            <i class="fa-solid fa-bookmark"></i>　ブックマークを外す　　
          <% end %>
        <% else %>
          <%= link_to post_bookmarks_path(@post), method: :post do %>
            <i class="fa-regular fa-bookmark"></i>　ブックマーク　　
          <% end %>
        <% end %>
        <% if @post.liked_by?(current_user) %>
          <%= link_to post_like_path(@post), method: :delete do %>
            <i class="fa-solid fa-thumbs-up"></i>　いいね！を外す
          <% end %>
        <% else %>
          <%= link_to post_likes_path(@post), method: :post do %>
            <i class="fa-regular fa-thumbs-up"></i>　いいね！
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
