<% if logged_in? %>
  <div class="col-md-3">
    <section class="user_info">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%=link_to current_user.name, user_path(current_user) %></h5>
          <p class="card-text"><%= current_user.profile %></p>
          <%= link_to current_user.followings.count.to_s + " フォロー", user_followings_path(current_user), class: "card-link" %>
          <%= link_to current_user.followers.count.to_s + " フォロワー", user_followers_path(current_user), class: "card-link" %>
          <p class="bookmark-link">
            <%= link_to user_bookmarks_path(current_user), class: "card-link" do %>
              <i class="fa-solid fa-bookmark"></i> ブックマーク
            <% end %>
          </p>
          <p class="like-link">
            <%= link_to user_likes_path(current_user), class: "card-link" do %>
              <i class="fa-solid fa-thumbs-up"></i> いいね！
            <% end %>
          </p>
        </div>
      </div>
    </section>
  </div>
<% else %>
  <div class="col-md-3">
  </div>
<% end %>
